*.pyc
*.psd
videos/
images/player_detection/*
images/stitched_frames/*
images/player_tracking/*
images/heatmaps
!images/player_tracking/.syncfolder

# Ignore temp output in the code folder
code/*.jpg
code/*.png
code/*.mpeg
code/*.mp4
